<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ft_sensor_config">
    
    <!-- Enable the Joint Feedback -->
    <gazebo reference="ft_sensor_joint">
        <provideFeedback>true</provideFeedback>
        <disableFixedJointLumping>true</disableFixedJointLumping>
    </gazebo>
 
    <!-- The ft_sensor plugin -->
    <gazebo>
        <plugin name="ft_sensor" filename="libgazebo_ros_ft_sensor.so">
            <updateRate>100.0</updateRate>
            <topicName>ft_sensor_topic</topicName>
            <jointName>ft_sensor_joint</jointName>
        </plugin>
    </gazebo>
 
</robot>